@model mvcInterfazUsuario.Models.ModeloClientes

@{
    ViewBag.Title = "detalleClientes_ENT";
}

<h2>Ddetalle Clientes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarClientes_ENT", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar", "listarClientes_ENT")
</p>
