@model mvcInterfazUsuario.Models.modeloCitas

@{
    ViewBag.Title = "Detalles";
}


<div>
    <h4>Detalle Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarCitas_ENT", new { pId = Model.NumeroCita }) |
    @Html.ActionLink("Regresar", "listarCitas_ENT")
</p>
