@model mvcInterfazUsuario.Models.modeloCountryRegion

@{
    ViewBag.Title = "eliminarCountryRegions_PA";
}

<h2>Elimina Región PA</h2>

<h3>Está seguro(a) que desea aeliminar el registro seleccionado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryRegionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryRegionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
    </dl>

    @using (Html.BeginForm("accionesPA", "CountryRegion", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model=>model.CountryRegionCode)

        <div class="form-actions no-color">
            <button type="submit" name="enviarAccion" value="Eliminar"
                    class="btn btn-primary" title="Eliminar registro"
                    data-toggle="tooltip" data-container="body" data-placement="right">
                Eliminar
            </button> |
            @Html.ActionLink("Regresar", "listarCountryRegions_PA")
        </div>
    }
</div>
