@model mvcInterfazUsuario.Models.modeloMascotas

@{
    ViewBag.Title = "DetalleMascotas_ENT";
}

<h2>Detalles de Mascota</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificarMascotas_ENT", new {  pId = Model.IDMascota  }) |
    @Html.ActionLink("Regresar", "listarMascotas_ENT")
</p>
