@model IEnumerable<Entidades.recCountryRegions_Result>

@{
    ViewBag.Title = "listarCountryRegions_PA";
}

<h2>Listar Regiones PA</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarCountryRegions_PA")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryRegionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryRegionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarCountryRegions_PA", new { pId = item.CountryRegionCode }) |
            @Html.ActionLink("Detalles", "detalleCountryRegions_PA", new { pId = item.CountryRegionCode }) |
            @Html.ActionLink("Eliminar", "eliminarCountryRegions_PA", new { pId = item.CountryRegionCode })
        </td>
    </tr>
}

</table>
