@model IEnumerable<mvcInterfazUsuario.Models.ModeloFacturacion>

@{
    ViewBag.Title = "listarFacturacion_ENT";
}

<h2>Lista de Facturas</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarFacturacion_ENT")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdServicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdServicio)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarFacturacion_ENT", new { pId=item.NumeroFactura }) |
            @Html.ActionLink("Detalle", "detalleFacturacion", new { pId = item.NumeroFactura }) |
            @Html.ActionLink("Borrar", "eliminarFacturacion", new { pId = item.NumeroFactura })
        </td>
    </tr>
}

</table>
